name: "Sync Images"
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
env:
  TCR_REGISTRY: hkccr.ccs.tencentyun.com

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  from_ghcr:
    if: github.repository_owner == 'dcjanus'
    name: "From GitHub Container Registry"
    runs-on: ubuntu-latest
    steps:
      - name: Sync ghcr.io/shadowsocks/ssserver-rust:latest
        uses: onichandame/docker-registry-sync-action@master
        with:
          source_repository: ghcr.io/shadowsocks/ssserver-rust:latest
          source_username: ${{ github.actor }}
          source_password: ${{ secrets.GITHUB_TOKEN }}
          target_repository: hkccr.ccs.tencentyun.com/dcjanus/ssserver-rust:latest
          target_username: ${{ secrets.TCR_USERNAME }}
          target_password: ${{ secrets.TCR_PASSWORD }}

  from_dockerhub:
    if: github.repository_owner == 'dcjanus'
    name: "From DockerHub"
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to TCR
        uses: docker/login-action@v1
        with:
          registry: ${{ env.TCR_REGISTRY }}
          username: ${{  secrets.TCR_USERNAME }}
          password: ${{  secrets.TCR_PASSWORD }}
      - name: Sync fatedier/frps
        uses: crazy-max/ghaction-dockerhub-mirror@v1
        with:
          dockerhub-username: ${{ secrets.DOCKERHUB_USERNAME }}
          dockerhub-password: ${{ secrets.DOCKERHUB_TOKEN }}
          dockerhub-repo: fatedier/frps
          dest-registry: ${{ env.TCR_REGISTRY }}
          dest-repo: dcjanus/frps
      - name: Sync fatedier/frpc
        uses: crazy-max/ghaction-dockerhub-mirror@v1
        with:
          dockerhub-username: ${{ secrets.DOCKERHUB_USERNAME }}
          dockerhub-password: ${{ secrets.DOCKERHUB_TOKEN }}
          dockerhub-repo: fatedier/frpc
          dest-registry: ${{ env.TCR_REGISTRY }}
          dest-repo: dcjanus/frpc
